header {
  padding: 3rem 0;

  .center {
    width: fit-content;

    .diogo {
      width: 180px;
      margin: 0 auto;
    }

    h1,h2 {
      margin: 0 auto;
    }

    h1 {
      font-size: 2.5rem;
      color: var(--text);
    }
  }
}