<app-header-mini></app-header-mini>

<div class="center">


  <app-post-card
    postDate="20/04/2023"
    postTitle="Quanto de inglês devo saber para ser programador?"
    postPreview=".. ....... ..... ...... ..."
    postLanguage="PORT"
  ></app-post-card>

  <app-post-card
    postDate="20/04/2023"
    postTitle="Quanto de inglês devo saber para ser programador?"
    postPreview=".. ....... ..... ...... ..."
    postLanguage="PORT"
  ></app-post-card>

  <app-post-card
    postDate="20/04/2023"
    postTitle="Quanto de inglês devo saber para ser programador?"
    postPreview=".. ....... ..... ...... ..."
    postLanguage="PORT"
  ></app-post-card>

  <app-post-card
    postDate="20/04/2023"
    postTitle="Quanto de inglês devo saber para ser programador?"
    postPreview=".. ....... ..... ...... ..."
    postLanguage="PORT"
  ></app-post-card>

  <app-post-card
    postDate="20/04/2023"
    postTitle="Quanto de inglês devo saber para ser programador?"
    postPreview=".. ....... ..... ...... ..."
    postLanguage="PORT"
  ></app-post-card>




</div>