:root {
  --theme-accent-1: hsl(342, 96%, 40%);
  --theme-accent-2: hsl(22, 94%, 60%);

  --theme-accent-1-light: hsla(330, 96%, 40%, 0.15);
  --theme-accent-2-light: hsla(33, 94%, 60%, 0.2);
  
  --bg-dark-100: #0d0d0d;
  --bg-dark-200: #1a1a1a;
  
  --bg-light-100: hsl(30, 50%, 88%);
  --bg-light-200: hsl(30, 50%, 82%);

  --font-light: hsl(30, 69%, 4%);
  --font-dark: #b9b9b9;
  
  --gradient: linear-gradient(90deg, var(--theme-accent-1), var(--theme-accent-2));
  --gradient-transparent: linear-gradient(90deg, var(--theme-accent-1-light), var(--theme-accent-2-light));
}

body {
  --icon-filter-hover: brightness(0) saturate(100%) invert(62%) sepia(92%) saturate(2170%) hue-rotate(335deg) brightness(95%) contrast(96%);
}

body.light {
  background: var(--bg-100);
  --text: var(--font-light);

  --color-accent: var(--theme-accent-1);

  --bg-100: var(--bg-light-100);
  --bg-200: var(--bg-light-200);

  --icon-filter: invert(100%);
  // --icon-filter-hover: brightness(0) saturate(100%) invert(20%) sepia(92%) saturate(2462%) hue-rotate(273deg) brightness(70%) contrast(97%);
  
  --shadow: 4px 4px 4px #2221;
}

body.dark {
  background: var(--bg-100);
  --text: var(--font-dark);

  --color-accent: var(--theme-accent-2);

  --bg-100: var(--bg-dark-100);
  --bg-200: var(--bg-dark-200);

  --icon-filter: invert(0%);

  --shadow: none;
}