@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
@import './colors.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: unset;
  border: unset;
  font-family: 'Sanchez', monospace;
}

h1,h2,h3 {
  display: block;
  width: fit-content;
}

.gradient-text {
  background: var(--gradient);
  background-clip: text;
  color: transparent;
}

a {
  color: none;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.center {
  width: 100%;
  height: inherit;
  max-width: 1000px;
  padding: 2rem;
  margin: 0 auto;

  @Media (max-width: 600px) {
    padding: 1rem;
  }
}