@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
@import './colors.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: unset;
  border: unset;
  font-family: 'Sanchez', monospace;
}

body {
  overflow-x: hidden;
}

h1,h2,h3 {
  display: block;
  width: fit-content;
}

.gradient-text {
  background: var(--gradient);
  background-clip: text;
  color: transparent;
}

a {
  color: none;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.center {
  width: 100%;
  height: inherit;
  max-width: 1000px;
  padding: 2rem;
  margin: 0 auto;

  @Media (max-width: 600px) {
    padding: 1rem;
  }
}

@mixin snackbar-default {
  position: fixed;
  z-index: 999;
  right: 2rem;
  bottom: 2rem;
  color: #000;
  font-weight: normal;
  letter-spacing: 1px;
  box-shadow: 0 0 8px #0003;

  @media (max-width: 600px) {
    right: 0;
    bottom: 0;
  }
}

.snackbar-success {
  @include snackbar-default;
  background: linear-gradient(90deg, #25F3AA, #05AD8F);
}

.snackbar-error {
  @include snackbar-default;
  background: linear-gradient(90deg, #E56565, #A02D2D);
}

.snackbar-warn {
  @include snackbar-default;
  background: linear-gradient(90deg, #EFF325, #EB9D06);
}

