<ul class="network-links">
  <a href="https://linkedin.com/in/diogo-lara" target="_blank">
    <li><img src="assets/icons/linkedin.svg" class="icon" alt=""></li>
  </a>
  <a href="https://github.com/diogozdev" target="_blank">
    <li><img src="assets/icons/github.svg" class="icon" alt=""></li>
  </a>
  <a href="mailto:diogo.lara.dev@gmail.com" target="_blank">
    <li><img src="assets/icons/mail.svg" class="icon" alt=""></li>
  </a>
  <a href="https://wa.me/5543984449774" target="_blank">
    <li><img src="assets/icons/phone.svg" class="icon" alt=""></li>
  </a>
</ul>