<nav class="menu">
  <div class="center ">
    <div class="pages">
        
     
    </div>
    <div class="buttons">
      <button class="icon" (click)="toggleTheme()">
        <img [src]="themeIcon" alt="theme">
      </button>

      <div class="icon languages">
        <img src="assets/icons/translation.svg" alt="translation">

        <div class="language-selector">
          <button *ngFor="let lang of languages" (click)="setLanguage(lang.code)">
            <span class="option">{{ lang.name }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>