<div class="form-area">
  <form [formGroup]="form">
    <h2>{{ "FORM.TITLE" | translate }}</h2>
      <div class="inputs">
        <div class="input-area">
          <input [placeholder]="'FORM.NAME' | translate" type="text" formControlName="name">
        </div>
        <div class="small-inputs">
          <div class="input-area">
            <input [placeholder]="'FORM.EMAIL' | translate" type="text" formControlName="email">
          </div>
          <div class="input-area">
            <input [placeholder]="'FORM.PHONE' | translate" type="text" formControlName="phone">
          </div>
        </div>
        <div class="input-area">
          <input [placeholder]="'FORM.COMPANY' | translate" type="text" formControlName="company">
        </div>
        <div class="input-area">
          <textarea [placeholder]="'FORM.MESSAGE' | translate" rows="8" maxlength="1000" formControlName="message" ></textarea>
        </div>
        <div class="counter">{{form.get('message')?.value.length}} /1000</div>
      </div>
      <div class="button-area">
        <button class="send" (click)="sendFormResponse()">{{ "FORM.SEND" | translate }}</button>
      </div>
  </form>
</div>
<footer>
  <div class="center">
    <app-network iconsClass="light-icons"></app-network>
  </div>
</footer>